@{
    ViewData["Title"] = "Всі працівники";
}

@model BookForEveryDay.ViewModel.UsersViewModel



<form method="post" action="~/home/IOU">
    <div class="background_employee">

        <div>

            <div class="user_info">
                <select class="all_user_option" name="user01">
                    <option>Всі працівники</option>
                    @foreach (var item in @Model.users)
                    {
                        <option>
                            @item.FirstName
                        </option>
                    }
                </select>
            </div>

            <div class="text_area_user">
                <label class="info_label"><font class="text_style">Інформація про працівника</font></label>
                <br /><br />
                <input name="inp" class="user_info_input" type="text" />
            </div>

        </div>

        <div>
            <input  type="submit" class="user_button" value="Переглянути">
            <a class="user_button" asp-controller="Home" asp-action="UpdateUser" asp-route-name="555"><font class="text_style">Редагувати</font></a>
        </div>

    </div>
</form>