@{
    ViewData["Title"] = "BookForEveryDay";
}

<form method="post" action="~/home/Create">
    <div class="background_employee">
      
        <div>
            <label class="new_employee" name="n_e"><font class="text_style">Новий працівник</font></label>
            <br /><br />

            <div class="info">

                <label class="f_name_employee_label"><font class="text_style">Імя</font></label>
                <input name="fn" class="next_text_input" type="text" />
                <br /><br />

                <label class="l_name_employee_label"><font class="text_style">Прізвище</font></label>
                <input name="ln" class="next_text_input" type="text" />
                <br /><br />

                <label class="b_day_employee_label"><font class="text_style">Дата народження</font></label>
                <input name="dob" class="next_text_input" type="date"/>
                <br /><br />

                <label class="role_employee_label"><font class="text_style">Роль</font></label>
                <input name="r" class="next_text_input" type="text" />
                <br /><br />

                <label class="department_employee_label"><font class="text_style">Відділ</font></label>
                <input name="d" class="next_text_input" type="text" />
                <br /><br />

                <label class="status_employee_label"><font class="text_style">Статус</font></label>
                <input name="s" class="next_text_input" type="text" />
                <br /><br />

                <label class="position_employee_label"><font class="text_style">Посада</font></label>
                <input name="p" class="next_text_input" type="text" />
                <br /><br />

            </div>

            <div class="text_area">
                <label class="coment_label"><font class="text_style">Коментарі</font></label>
                <br /><br />
                <textarea class="area_text"></textarea>
            </div>
        </div>
        <input class="create" type="submit" value="Додати" />
    </div>

</form>
