/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/


.background_employee {
    background-image: url(https://cs7.pikabu.ru/post_img/big/2017/12/23/11/151405220014558883.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

/*----------------------------------*/

.new_employee {
    margin: 20px 700px 20px 700px;
}

/*----------------------------------*/

input[type="text"].text_input {
    background: transparent;
    border: 1px solid #000000;
    padding: 5px 5px;
    border-color: cyan;
    border-radius: 2px;
    color: white;
}

input[type="text"].next_text_input {
    background: transparent;
    border: 1px solid #000000;
    padding: 5px 5px;
    border-color: cyan;
    border-radius: 2px;
    color: white;
}

input[type="text"].user_info_input {
    background: transparent;
    border: 1px solid #000000;
    padding: 5px 5px;
    border-color: cyan;
    border-radius: 2px;
    color:black;
    height: 600px;
    width: 300px;
}
/*----------------------------------*/
.text_style {
    color: steelblue;
    text-align: center;
    font-family: 'Microsoft Sans Serif';
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.text_area {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 500px;
    height: 650px;
    position: absolute;
}

.info {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 500px;
    height: 650px;
    position: relative;
}

.user_info {
    display: inline-block;
    position: relative;
    margin: 10px 0px 0px 0px;
    width: 500px;
    height: 650px;
}

.text_area_user {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 500px;
    height: 650px;
    position: absolute;
}
/*----------------------------------*/
.id_employee_label {
    margin: 10px 50px 0px 10px;
    padding: 5px;
}

.f_name_employee_label {
    margin: 0px 152px 5px 10px;
    padding: 5px;
}

.l_name_employee_label {
    margin: 0px 95px 5px 10px;
    padding: 5px;
}

.b_day_employee_label {
    margin: 0px 15px 5px 10px;
    padding: 5px;
}

.role_employee_label {
    margin: 0px 144px 5px 10px;
    padding: 5px;
}

.department_employee_label {
    margin: 0px 135px 5px 10px;
    padding: 5px;
}

.status_employee_label {
    margin: 0px 130px 5px 10px;
    padding: 5px;
}

.position_employee_label {
    margin: 0px 128px 5px 10px;
    padding: 5px;
}

.info_label{
    margin: 10px 0px 0px 0px;
}
/*----------------------------------*/
.create {
    margin: 0px 0px 10px 10px
}

.coment_label {
    margin: 10px 0px 0px 150px;
}

.back_button{
    margin: 100px 0px 0px 10px;
}

.area_text {
    height: 460px;
    width: 400px;
    border: 1px solid double;
    border-radius: 2px;
}

.all_user_option{
    margin:10px 0px 0px 10px;
    padding: 5px;
}